node-red_ALOIS/flows.json
[
    {
        "id": "b9c3e151.f4acd",
        "type": "tab",
        "label": "Alois - Orchestrateur",
        "disabled": false,
        "info": ""
    },
    {
        "id": "6d64188f.0781a8",
        "type": "mqtt in",
        "z": "b9c3e151.f4acd",
        "name": "",
        "topic": "pilulier/device1/info/environnement",
        "qos": "2",
        "datatype": "auto",
        "broker": "9b2c1c56.d20d3",
        "x": 180,
        "y": 40,
        "wires": [
            [
                "a61b419d.62a56"
            ]
        ]
    },
    {
        "id": "f0a5c42d.1465c8",
        "type": "mqtt in",
        "z": "b9c3e151.f4acd",
        "name": "",
        "topic": "pilulier/device1/info/detect",
        "qos": "2",
        "datatype": "auto",
        "broker": "9b2c1c56.d20d3",
        "x": 150,
        "y": 160,
        "wires": [
            [
                "9ed607f4.78f6d8"
            ]
        ]
    },
    {
        "id": "87fd8234.f0231",
        "type": "debug",
        "z": "b9c3e151.f4acd",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 950,
        "y": 200,
        "wires": []
    },
    {
        "id": "cb6cfd78.9d94d",
        "type": "function",
        "z": "b9c3e151.f4acd",
        "name": "briller",
        "func": "msg.payload = {\"name\":\"briller\",\"option\":\"open\",\"color\":2}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 690,
        "y": 720,
        "wires": [
            [
                "39b477b4.61f318"
            ]
        ]
    },
    {
        "id": "9f6a1ba8.571b08",
        "type": "function",
        "z": "b9c3e151.f4acd",
        "name": "distribution",
        "func": "msg.payload = \"distribution\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 700,
        "y": 760,
        "wires": [
            [
                "f4b85bcd.e01788"
            ]
        ]
    },
    {
        "id": "c925333a.7eda5",
        "type": "delay",
        "z": "b9c3e151.f4acd",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 670,
        "y": 800,
        "wires": [
            [
                "a12292f9.9fed7"
            ]
        ]
    },
    {
        "id": "693baa2.b2de954",
        "type": "switch",
        "z": "b9c3e151.f4acd",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "True",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "False",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 470,
        "y": 160,
        "wires": [
            [
                "27acce73.145342"
            ],
            [
                "738db5d8.18cf2c",
                "1b319467.21684c"
            ]
        ]
    },
    {
        "id": "14c18fb7.da025",
        "type": "change",
        "z": "b9c3e151.f4acd",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"name\":\"briller\",\"option\":\"open\",\"color\":2}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 700,
        "y": 260,
        "wires": [
            [
                "69dd073.cc176f8",
                "87cd163a.8b31f8"
            ]
        ]
    },
    {
        "id": "f4b85bcd.e01788",
        "type": "mqtt out",
        "z": "b9c3e151.f4acd",
        "name": "",
        "topic": "pilulier/device1/instruction/distribution",
        "qos": "",
        "retain": "",
        "broker": "9b2c1c56.d20d3",
        "x": 1030,
        "y": 760,
        "wires": []
    },
    {
        "id": "39b477b4.61f318",
        "type": "mqtt out",
        "z": "b9c3e151.f4acd",
        "name": "",
        "topic": "pilulier/device1/instruction/briller",
        "qos": "",
        "retain": "",
        "broker": "9b2c1c56.d20d3",
        "x": 910,
        "y": 720,
        "wires": []
    },
    {
        "id": "122fcdbf.34dec2",
        "type": "mqtt out",
        "z": "b9c3e151.f4acd",
        "name": "",
        "topic": "pilulier/device1/instruction/detected",
        "qos": "",
        "retain": "",
        "broker": "9b2c1c56.d20d3",
        "x": 1040,
        "y": 820,
        "wires": []
    },
    {
        "id": "187d3538.8d86cb",
        "type": "google calendar in",
        "z": "b9c3e151.f4acd",
        "google": "",
        "name": "",
        "calendar": "",
        "offsetType": "at",
        "offsetFrom": "start",
        "offset": "10",
        "offsetUnits": "minutes",
        "x": 100,
        "y": 740,
        "wires": [
            [
                "c5ff4139.4ebbe"
            ]
        ]
    },
    {
        "id": "c5ff4139.4ebbe",
        "type": "switch",
        "z": "b9c3e151.f4acd",
        "name": "",
        "property": "payload.title",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Initialise",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "medicament",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 250,
        "y": 740,
        "wires": [
            [
                "adec8194.c2d11"
            ],
            [
                "c95dd3d4.25119"
            ]
        ]
    },
    {
        "id": "a12292f9.9fed7",
        "type": "function",
        "z": "b9c3e151.f4acd",
        "name": "Set count",
        "func": "global.set('count', 0);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 820,
        "y": 820,
        "wires": [
            [
                "122fcdbf.34dec2"
            ]
        ]
    },
    {
        "id": "9ed607f4.78f6d8",
        "type": "function",
        "z": "b9c3e151.f4acd",
        "name": "Count + 1",
        "func": "var temp = global.get(\"count\")\nglobal.set(\"count\", temp + 1)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 340,
        "y": 160,
        "wires": [
            [
                "693baa2.b2de954"
            ]
        ]
    },
    {
        "id": "69dd073.cc176f8",
        "type": "mqtt out",
        "z": "b9c3e151.f4acd",
        "name": "",
        "topic": "pilulier/device1/instruction/briller",
        "qos": "",
        "retain": "",
        "broker": "9b2c1c56.d20d3",
        "x": 1000,
        "y": 240,
        "wires": []
    },
    {
        "id": "738db5d8.18cf2c",
        "type": "switch",
        "z": "b9c3e151.f4acd",
        "name": "",
        "property": "count",
        "propertyType": "global",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "2",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "3",
                "vt": "num"
            },
            {
                "t": "gt",
                "v": "3",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 4,
        "x": 450,
        "y": 400,
        "wires": [
            [
                "14c18fb7.da025"
            ],
            [
                "9e64102a.03c0e",
                "868fc457.8069e8"
            ],
            [
                "5d7be209.65cbec",
                "4914497b.d0da38"
            ],
            [
                "4914497b.d0da38"
            ]
        ]
    },
    {
        "id": "e9499138.ca528",
        "type": "mqtt out",
        "z": "b9c3e151.f4acd",
        "name": "",
        "topic": "pilulier/device1/instruction/detected",
        "qos": "",
        "retain": "",
        "broker": "9b2c1c56.d20d3",
        "x": 1210,
        "y": 300,
        "wires": []
    },
    {
        "id": "87cd163a.8b31f8",
        "type": "delay",
        "z": "b9c3e151.f4acd",
        "name": "",
        "pauseType": "delay",
        "timeout": "30",
        "timeoutUnits": "minutes",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 970,
        "y": 300,
        "wires": [
            [
                "e9499138.ca528"
            ]
        ]
    },
    {
        "id": "ded77b60.c8be88",
        "type": "mqtt out",
        "z": "b9c3e151.f4acd",
        "name": "",
        "topic": "pilulier/device1/instruction/detected",
        "qos": "",
        "retain": "",
        "broker": "9b2c1c56.d20d3",
        "x": 1120,
        "y": 420,
        "wires": []
    },
    {
        "id": "5d7be209.65cbec",
        "type": "function",
        "z": "b9c3e151.f4acd",
        "name": "Mail Oublis",
        "func": "msg.payload= \"La personne à votre charge a oublié de prendre ses médicaments\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 830,
        "y": 540,
        "wires": [
            [
                "a9e32654.f61ac8"
            ]
        ]
    },
    {
        "id": "a9e32654.f61ac8",
        "type": "e-mail",
        "z": "b9c3e151.f4acd",
        "server": "smtp.gmail.com",
        "port": "465",
        "secure": true,
        "tls": true,
        "name": "sp06800@gmail.com",
        "dname": "",
        "x": 1060,
        "y": 540,
        "wires": []
    },
    {
        "id": "4914497b.d0da38",
        "type": "delay",
        "z": "b9c3e151.f4acd",
        "name": "",
        "pauseType": "delay",
        "timeout": "30",
        "timeoutUnits": "minutes",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 730,
        "y": 600,
        "wires": [
            [
                "c3a10e46.e880f"
            ]
        ]
    },
    {
        "id": "c3a10e46.e880f",
        "type": "mqtt out",
        "z": "b9c3e151.f4acd",
        "name": "",
        "topic": "pilulier/device1/instruction/detected",
        "qos": "",
        "retain": "",
        "broker": "9b2c1c56.d20d3",
        "x": 970,
        "y": 600,
        "wires": []
    },
    {
        "id": "9e64102a.03c0e",
        "type": "delay",
        "z": "b9c3e151.f4acd",
        "name": "",
        "pauseType": "delay",
        "timeout": "30",
        "timeoutUnits": "minutes",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 870,
        "y": 420,
        "wires": [
            [
                "ded77b60.c8be88"
            ]
        ]
    },
    {
        "id": "868fc457.8069e8",
        "type": "change",
        "z": "b9c3e151.f4acd",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Les médicaments sont en attente de récupération.",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 680,
        "y": 340,
        "wires": [
            [
                "ce5aec7.141781",
                "e97a23cf.66a5e"
            ]
        ]
    },
    {
        "id": "e97a23cf.66a5e",
        "type": "play audio",
        "z": "b9c3e151.f4acd",
        "name": "",
        "voice": "0",
        "x": 1030,
        "y": 360,
        "wires": []
    },
    {
        "id": "ce5aec7.141781",
        "type": "delay",
        "z": "b9c3e151.f4acd",
        "name": "",
        "pauseType": "delay",
        "timeout": "10",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 860,
        "y": 380,
        "wires": [
            [
                "e97a23cf.66a5e"
            ]
        ]
    },
    {
        "id": "a61b419d.62a56",
        "type": "json",
        "z": "b9c3e151.f4acd",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 450,
        "y": 40,
        "wires": [
            [
                "f71cdc4b.84133",
                "f8db2aac.0f99a8"
            ]
        ]
    },
    {
        "id": "f71cdc4b.84133",
        "type": "switch",
        "z": "b9c3e151.f4acd",
        "name": "temperatue > 25",
        "property": "payload.temp",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gte",
                "v": "25",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 620,
        "y": 40,
        "wires": [
            [
                "5e2964c7.8d1c5c"
            ]
        ]
    },
    {
        "id": "1408ca1.8d33036",
        "type": "play audio",
        "z": "b9c3e151.f4acd",
        "name": "",
        "voice": "0",
        "x": 1530,
        "y": 40,
        "wires": []
    },
    {
        "id": "896d6afe.d91508",
        "type": "change",
        "z": "b9c3e151.f4acd",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "La température est trop élevée",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1300,
        "y": 40,
        "wires": [
            [
                "1408ca1.8d33036"
            ]
        ]
    },
    {
        "id": "27b22d60.176c32",
        "type": "debug",
        "z": "b9c3e151.f4acd",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1110,
        "y": 140,
        "wires": []
    },
    {
        "id": "f8db2aac.0f99a8",
        "type": "debug",
        "z": "b9c3e151.f4acd",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 530,
        "y": 100,
        "wires": []
    },
    {
        "id": "d0f4e61f.6a27d8",
        "type": "change",
        "z": "b9c3e151.f4acd",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "nothing detected",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 940,
        "y": 140,
        "wires": [
            [
                "27b22d60.176c32"
            ]
        ]
    },
    {
        "id": "1b319467.21684c",
        "type": "change",
        "z": "b9c3e151.f4acd",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "pills detected",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 780,
        "y": 200,
        "wires": [
            [
                "87fd8234.f0231"
            ]
        ]
    },
    {
        "id": "a32b00d2.39039",
        "type": "function",
        "z": "b9c3e151.f4acd",
        "name": "Repeat off",
        "func": "global.set('TempCount', 0);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1110,
        "y": 20,
        "wires": [
            [
                "896d6afe.d91508"
            ]
        ]
    },
    {
        "id": "68c697a2.4ff7c8",
        "type": "function",
        "z": "b9c3e151.f4acd",
        "name": "Repeat on",
        "func": "global.set('TempCount', 1);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1310,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "559a4f3d.99e0f",
        "type": "switch",
        "z": "b9c3e151.f4acd",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "0",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 970,
        "y": 40,
        "wires": [
            [
                "a32b00d2.39039"
            ],
            [
                "7e8390ea.e2fa2"
            ]
        ]
    },
    {
        "id": "5e2964c7.8d1c5c",
        "type": "function",
        "z": "b9c3e151.f4acd",
        "name": "get TempCount",
        "func": "var cpt = global.get(\"TempCount\")\nreturn cpt;",
        "outputs": 1,
        "noerr": 0,
        "x": 820,
        "y": 40,
        "wires": [
            [
                "559a4f3d.99e0f"
            ]
        ]
    },
    {
        "id": "7e8390ea.e2fa2",
        "type": "delay",
        "z": "b9c3e151.f4acd",
        "name": "Pause alarm",
        "pauseType": "delay",
        "timeout": "30",
        "timeoutUnits": "minutes",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 1130,
        "y": 80,
        "wires": [
            [
                "68c697a2.4ff7c8"
            ]
        ]
    },
    {
        "id": "c95dd3d4.25119",
        "type": "function",
        "z": "b9c3e151.f4acd",
        "name": "check distrib stop",
        "func": "var cpt = global(\"lockDistrib\")\nreturn cpt;",
        "outputs": 1,
        "noerr": 0,
        "x": 250,
        "y": 820,
        "wires": [
            [
                "d7ef12c0.8a253"
            ]
        ]
    },
    {
        "id": "d7ef12c0.8a253",
        "type": "switch",
        "z": "b9c3e151.f4acd",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 410,
        "y": 820,
        "wires": [
            [
                "273d1e5.5e771e2"
            ],
            [
                "167b9c68.32a694"
            ]
        ]
    },
    {
        "id": "27acce73.145342",
        "type": "function",
        "z": "b9c3e151.f4acd",
        "name": "Libère distribution",
        "func": "global.set(\"lockDistrib\",0)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 750,
        "y": 140,
        "wires": [
            [
                "d0f4e61f.6a27d8"
            ]
        ]
    },
    {
        "id": "273d1e5.5e771e2",
        "type": "function",
        "z": "b9c3e151.f4acd",
        "name": "Bloque distrib",
        "func": "global.set(\"lockDistrib\",1)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 500,
        "y": 760,
        "wires": [
            [
                "cb6cfd78.9d94d",
                "9f6a1ba8.571b08",
                "c925333a.7eda5"
            ]
        ]
    },
    {
        "id": "167b9c68.32a694",
        "type": "change",
        "z": "b9c3e151.f4acd",
        "name": "message d'erreur",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Une distribution n'a pas pu étre effectuée car la précédente n'a pas été récupérée. Pour relancer le fonctionnement du pillulier, créez l'événement \"Initialise\" sur votre Google agenda. Une fois cet événement atteint, le pillulier fonctionnera à nouveau.",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 570,
        "y": 900,
        "wires": [
            [
                "71af70cb.dcbf2"
            ]
        ]
    },
    {
        "id": "71af70cb.dcbf2",
        "type": "e-mail",
        "z": "b9c3e151.f4acd",
        "server": "smtp.gmail.com",
        "port": "465",
        "secure": true,
        "tls": true,
        "name": "sp06800@gmail.com",
        "dname": "informe de l'erreur de distribution",
        "x": 840,
        "y": 900,
        "wires": []
    },
    {
        "id": "adec8194.c2d11",
        "type": "function",
        "z": "b9c3e151.f4acd",
        "name": "Libère distribution",
        "func": "global.set(\"lockDistrib\",0)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 430,
        "y": 660,
        "wires": [
            []
        ]
    },
    {
        "id": "63a8b3c3.71f11c",
        "type": "tab",
        "label": "Démo",
        "disabled": false,
        "info": ""
    },
    {
        "id": "f4fd5b52.7bda98",
        "type": "inject",
        "z": "63a8b3c3.71f11c",
        "name": "distribution 22.5°",
        "topic": "",
        "payload": "{ \"name\": \"distribution\", \"degree\": 22.5}",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 280,
        "y": 80,
        "wires": [
            [
                "c71639b6.1c9f48"
            ]
        ]
    },
    {
        "id": "53c3ae73.61dd4",
        "type": "inject",
        "z": "63a8b3c3.71f11c",
        "name": "briller open green not shut off",
        "topic": "",
        "payload": "{\"name\":\"briller\",\"option\":\"open\",\"color\":1}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 260,
        "y": 380,
        "wires": [
            [
                "9c0d4db9.dbdfb"
            ]
        ]
    },
    {
        "id": "b933c23c.61956",
        "type": "inject",
        "z": "63a8b3c3.71f11c",
        "name": "environnement",
        "topic": "",
        "payload": "{ \"name\": \"environnement\"}",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 260,
        "y": 200,
        "wires": [
            [
                "25511efd.6f3d72"
            ]
        ]
    },
    {
        "id": "2f69138c.02ac0c",
        "type": "inject",
        "z": "63a8b3c3.71f11c",
        "name": "detected",
        "topic": "",
        "payload": "{ \"name\": \"detected\"}",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 260,
        "y": 240,
        "wires": [
            [
                "885df0d4.acef7"
            ]
        ]
    },
    {
        "id": "d39cf28b.b9334",
        "type": "inject",
        "z": "63a8b3c3.71f11c",
        "name": "briller open red not shut off",
        "topic": "",
        "payload": "{\"name\":\"briller\",\"option\":\"open\",\"color\":2}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 250,
        "y": 420,
        "wires": [
            [
                "9c0d4db9.dbdfb"
            ]
        ]
    },
    {
        "id": "e53ab033.b9244",
        "type": "inject",
        "z": "63a8b3c3.71f11c",
        "name": "briller open red 2s",
        "topic": "",
        "payload": "{\"name\":\"briller\",\"option\":\"opentime\",\"color\":2,\"time\":2}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 230,
        "y": 460,
        "wires": [
            [
                "9c0d4db9.dbdfb"
            ]
        ]
    },
    {
        "id": "21233c2f.e9a8b4",
        "type": "inject",
        "z": "63a8b3c3.71f11c",
        "name": "briller blue blink 10",
        "topic": "",
        "payload": "{\"name\":\"briller\",\"option\":\"blink\",\"color\":0,\"time\":10}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 230,
        "y": 500,
        "wires": [
            [
                "9c0d4db9.dbdfb"
            ]
        ]
    },
    {
        "id": "4faf0518.1e270c",
        "type": "comment",
        "z": "63a8b3c3.71f11c",
        "name": "LED MANAGEMENT : ",
        "info": "3 options :\n-blink\n-always on\n-timed",
        "x": 240,
        "y": 341,
        "wires": []
    },
    {
        "id": "c15c3b5f.df0e28",
        "type": "comment",
        "z": "63a8b3c3.71f11c",
        "name": "Sensors",
        "info": "",
        "x": 260,
        "y": 160,
        "wires": []
    },
    {
        "id": "81eaa01e.b1c79",
        "type": "comment",
        "z": "63a8b3c3.71f11c",
        "name": "Motor",
        "info": "",
        "x": 290,
        "y": 40,
        "wires": []
    },
    {
        "id": "9c0d4db9.dbdfb",
        "type": "mqtt out",
        "z": "63a8b3c3.71f11c",
        "name": "",
        "topic": "pilulier/device1/instruction/briller",
        "qos": "",
        "retain": "",
        "broker": "27bfa4c5.90bcfc",
        "x": 710,
        "y": 400,
        "wires": []
    },
    {
        "id": "c71639b6.1c9f48",
        "type": "mqtt out",
        "z": "63a8b3c3.71f11c",
        "name": "",
        "topic": "pilulier/device1/instruction/distribution",
        "qos": "",
        "retain": "",
        "broker": "27bfa4c5.90bcfc",
        "x": 710,
        "y": 80,
        "wires": []
    },
    {
        "id": "25511efd.6f3d72",
        "type": "mqtt out",
        "z": "63a8b3c3.71f11c",
        "name": "",
        "topic": "pilulier/device1/instruction/environnement",
        "qos": "",
        "retain": "",
        "broker": "27bfa4c5.90bcfc",
        "x": 740,
        "y": 200,
        "wires": []
    },
    {
        "id": "885df0d4.acef7",
        "type": "mqtt out",
        "z": "63a8b3c3.71f11c",
        "name": "",
        "topic": "pilulier/device1/instruction/detected",
        "qos": "",
        "retain": "",
        "broker": "27bfa4c5.90bcfc",
        "x": 730,
        "y": 280,
        "wires": []
    },
    {
        "id": "10e0d5eb.ed737a",
        "type": "e-mail",
        "z": "63a8b3c3.71f11c",
        "server": "smtp.gmail.com",
        "port": "465",
        "secure": true,
        "tls": true,
        "name": "alois.polytech@gmail.com",
        "dname": "",
        "x": 990,
        "y": 520,
        "wires": []
    },
    {
        "id": "c4c1f1b1.c4474",
        "type": "inject",
        "z": "63a8b3c3.71f11c",
        "name": "Mail",
        "topic": "",
        "payload": "Prenez vos médicaments",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 610,
        "y": 520,
        "wires": [
            [
                "10e0d5eb.ed737a"
            ]
        ]
    },
    {
        "id": "f404c040.5717b",
        "type": "comment",
        "z": "63a8b3c3.71f11c",
        "name": "Mail",
        "info": "",
        "x": 590,
        "y": 480,
        "wires": []
    },
    {
        "id": "79ab1093.62c76",
        "type": "function",
        "z": "63a8b3c3.71f11c",
        "name": "briller",
        "func": "msg.payload = {\"name\":\"briller\",\"option\":\"open\",\"color\":2}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 410,
        "y": 660,
        "wires": [
            [
                "253210a1.54ecf"
            ]
        ]
    },
    {
        "id": "6cdd85c3.774a2c",
        "type": "function",
        "z": "63a8b3c3.71f11c",
        "name": "distribution",
        "func": "msg.payload = \"distribution\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 420,
        "y": 700,
        "wires": [
            [
                "bec29c33.e7254"
            ]
        ]
    },
    {
        "id": "cbcdb9bd.aa7ed8",
        "type": "delay",
        "z": "63a8b3c3.71f11c",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 390,
        "y": 740,
        "wires": [
            [
                "1c617d3c.168883"
            ]
        ]
    },
    {
        "id": "bec29c33.e7254",
        "type": "mqtt out",
        "z": "63a8b3c3.71f11c",
        "name": "",
        "topic": "pilulier/device1/instruction/distribution",
        "qos": "",
        "retain": "",
        "broker": "27bfa4c5.90bcfc",
        "x": 850,
        "y": 700,
        "wires": []
    },
    {
        "id": "253210a1.54ecf",
        "type": "mqtt out",
        "z": "63a8b3c3.71f11c",
        "name": "",
        "topic": "pilulier/device1/instruction/briller",
        "qos": "",
        "retain": "",
        "broker": "27bfa4c5.90bcfc",
        "x": 750,
        "y": 660,
        "wires": []
    },
    {
        "id": "46c5e7bb.2387c8",
        "type": "mqtt out",
        "z": "63a8b3c3.71f11c",
        "name": "",
        "topic": "pilulier/device1/instruction/detected",
        "qos": "",
        "retain": "",
        "broker": "27bfa4c5.90bcfc",
        "x": 920,
        "y": 740,
        "wires": []
    },
    {
        "id": "c73daf49.cd95c",
        "type": "inject",
        "z": "63a8b3c3.71f11c",
        "name": "Google Calendar",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 200,
        "y": 700,
        "wires": [
            [
                "79ab1093.62c76",
                "6cdd85c3.774a2c",
                "cbcdb9bd.aa7ed8"
            ]
        ]
    },
    {
        "id": "1c617d3c.168883",
        "type": "function",
        "z": "63a8b3c3.71f11c",
        "name": "Set count",
        "func": "global.set('count', 0);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 580,
        "y": 740,
        "wires": [
            [
                "46c5e7bb.2387c8"
            ]
        ]
    },
    {
        "id": "3ab506a6.ecd52a",
        "type": "play audio",
        "z": "63a8b3c3.71f11c",
        "name": "",
        "voice": "0",
        "x": 510,
        "y": 900,
        "wires": []
    },
    {
        "id": "1c25793b.d617e7",
        "type": "inject",
        "z": "63a8b3c3.71f11c",
        "name": "",
        "topic": "",
        "payload": "Pensez à récupérer vos médicaments",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 230,
        "y": 880,
        "wires": [
            [
                "3ab506a6.ecd52a"
            ]
        ]
    },
    {
        "id": "74ba6ca4.df4674",
        "type": "inject",
        "z": "63a8b3c3.71f11c",
        "name": "POuet Pouet",
        "topic": "",
        "payload": "vroum vroum mmmmm ouuuuuu mmmmm ouuu criiiiiiiiiiiiii pouette pouette mmmmmmm vroum vroum",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 250,
        "y": 940,
        "wires": [
            [
                "3ab506a6.ecd52a"
            ]
        ]
    },
    {
        "id": "9991b899.5029b8",
        "type": "inject",
        "z": "63a8b3c3.71f11c",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 200,
        "y": 1040,
        "wires": [
            [
                "f4d4170.9b230e8"
            ]
        ]
    },
    {
        "id": "f4d4170.9b230e8",
        "type": "exec",
        "z": "63a8b3c3.71f11c",
        "command": "sudo nmap -sP 192.168.0.0/24 | grep -B 2 \"B8:27:EB\" | grep -oE \"\\b([0-9]{1,3}\\.){3}[0-9]{1,3}\\b\"",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "",
        "x": 620,
        "y": 1040,
        "wires": [
            [
                "6664938c.d78bcc"
            ],
            [],
            []
        ]
    },
    {
        "id": "6664938c.d78bcc",
        "type": "debug",
        "z": "63a8b3c3.71f11c",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1060,
        "y": 1040,
        "wires": []
    },
    {
        "id": "f9dbeb1b.c81f38",
        "type": "comment",
        "z": "63a8b3c3.71f11c",
        "name": "Get Pilulier IP",
        "info": "",
        "x": 430,
        "y": 1000,
        "wires": []
    },
    {
        "id": "9b2c1c56.d20d3",
        "type": "mqtt-broker",
        "z": "",
        "name": "",
        "broker": "192.168.43.156",
        "port": "1884",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "27bfa4c5.90bcfc",
        "type": "mqtt-broker",
        "z": "",
        "name": "",
        "broker": "192.168.0.28",
        "port": "1884",
        "clientid": "HOME",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    }
]
