node-red_ALOIS/flows.json
[{"id":"943f51aa.28121","type":"tab","label":"Flow 1","disabled":true,"info":""},{"id":"ad35f952.a488f8","type":"tab","label":"Alois - Orchestrateur","disabled":false,"info":""},{"id":"dd3529c8.a20608","type":"tab","label":"Démo","disabled":false,"info":""},{"id":"8d15cb7c.86fad8","type":"google-credentials","z":"","displayName":"Paul Dupont"},{"id":"78adcac2.543dd4","type":"mqtt-broker","z":"","name":"","broker":"35.171.2.235","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"f1830782.a15968","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"bcd4a634.aa8fe8","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"68302430.f9690c","type":"mqtt-broker","z":"","name":"","broker":"192.168.43.156","port":"1884","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"d1055ac8.2f15f8","type":"ui_tab","z":"","name":"User console","icon":"dashboard","disabled":false,"hidden":false},{"id":"72359d96.8f49e4","type":"ui_group","z":"","name":"Interval température / humidité ","tab":"d1055ac8.2f15f8","disp":true,"width":"6","collapse":false},{"id":"7bda21b2.5994b","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"ff8307ec.d9fb38","type":"google-credentials","z":"","displayName":""},{"id":"32ff9f6e.1af6a","type":"mqtt in","z":"ad35f952.a488f8","name":"","topic":"pilulier/device1/info/environnement","qos":"2","datatype":"auto","broker":"68302430.f9690c","x":180,"y":40,"wires":[["bf9daffe.002a9"]]},{"id":"4816850b.8cdfec","type":"mqtt in","z":"ad35f952.a488f8","name":"","topic":"pilulier/device1/info/detect","qos":"2","datatype":"auto","broker":"68302430.f9690c","x":150,"y":160,"wires":[["650e5933.f64978"]]},{"id":"866e37f9.87b3b8","type":"debug","z":"ad35f952.a488f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":910,"y":160,"wires":[]},{"id":"6348835a.fd64dc","type":"function","z":"ad35f952.a488f8","name":"briller","func":"msg.payload = {\"name\":\"briller\",\"option\":\"open\",\"color\":2}\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":700,"wires":[["bcf52142.d177d"]]},{"id":"f93d1a38.3e7b08","type":"function","z":"ad35f952.a488f8","name":"distribution","func":"msg.payload = \"distribution\"\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":740,"wires":[["f487a15e.51713"]]},{"id":"8692243a.494e88","type":"delay","z":"ad35f952.a488f8","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":430,"y":780,"wires":[["6fb8177c.4ec748"]]},{"id":"1bb254c9.1ef81b","type":"switch","z":"ad35f952.a488f8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"True","vt":"str"},{"t":"eq","v":"False","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":490,"y":160,"wires":[["2a99efb5.f8092"],["1a574a3f.d23756","b290c85f.af5ba8"]]},{"id":"e935b880.45ab98","type":"change","z":"ad35f952.a488f8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"name\":\"briller\",\"option\":\"open\",\"color\":2}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":700,"y":260,"wires":[["602f56d5.d20c58","595b2a3d.db7044"]]},{"id":"f487a15e.51713","type":"mqtt out","z":"ad35f952.a488f8","name":"","topic":"pilulier/device1/instruction/distribution","qos":"","retain":"","broker":"68302430.f9690c","x":890,"y":740,"wires":[]},{"id":"bcf52142.d177d","type":"mqtt out","z":"ad35f952.a488f8","name":"","topic":"pilulier/device1/instruction/briller","qos":"","retain":"","broker":"68302430.f9690c","x":790,"y":700,"wires":[]},{"id":"16d19bb7.2458a4","type":"mqtt out","z":"ad35f952.a488f8","name":"","topic":"pilulier/device1/instruction/detected","qos":"","retain":"","broker":"68302430.f9690c","x":970,"y":780,"wires":[]},{"id":"7fe9bbd8.a0d4e4","type":"ui_dropdown","z":"943f51aa.28121","name":"","label":"","tooltip":"","place":"Select option","group":"72359d96.8f49e4","order":0,"width":"0","height":"0","passthru":true,"options":[{"label":"5s","value":5,"type":"num"},{"label":"10s","value":10,"type":"num"},{"label":"1m","value":1,"type":"num"},{"label":"5m","value":5,"type":"num"}],"payload":"","topic":"","x":270,"y":160,"wires":[[]]},{"id":"25105299.2b7c8e","type":"ui_form","z":"943f51aa.28121","name":"","label":"","group":"72359d96.8f49e4","order":1,"width":"0","height":"0","options":[{"label":"Lundi Matin","value":"Lm","type":"switch","required":false,"rows":null},{"label":"Lundi Midi","value":"Lmi","type":"switch","required":false,"rows":null},{"label":"Lundi Après-Midi","value":"La","type":"switch","required":false,"rows":null},{"label":"Mardi Matin","value":"Mm","type":"switch","required":false,"rows":null},{"label":"Mardi Midi","value":"Mmi","type":"switch","required":false,"rows":null},{"label":"Mardi Après Midi","value":"Ma","type":"switch","required":false,"rows":null},{"label":"Mercredi Matin","value":"Mem","type":"switch","required":false,"rows":null},{"label":"Mercredi Midi","value":"Memi","type":"switch","required":false,"rows":null},{"label":"Mercredi Après Midi","value":"Mea","type":"switch","required":false,"rows":null},{"label":"Jeudi Matin","value":"Jm","type":"switch","required":false,"rows":null},{"label":"Jeudi Midi","value":"Jmi","type":"switch","required":false,"rows":null},{"label":"Jeudi Après Midi","value":"Ja","type":"switch","required":false,"rows":null},{"label":"Vendredi Matin","value":"Vm","type":"switch","required":false,"rows":null},{"label":"Vendredi Midi","value":"Vmi","type":"switch","required":false,"rows":null},{"label":"Vendredi Après Midi","value":"Va","type":"switch","required":false,"rows":null},{"label":"Samedi Matin","value":"Sm","type":"switch","required":false,"rows":null},{"label":"Samedi Midi","value":"Smi","type":"switch","required":false,"rows":null},{"label":"Samedi Après Midi","value":"Sa","type":"switch","required":false,"rows":null},{"label":"Dimanche Matin","value":"Dm","type":"switch","required":false,"rows":null},{"label":"Dimanche Midi","value":"Dmi","type":"switch","required":false,"rows":null},{"label":"Dimanche Après Midi","value":"Da","type":"switch","required":false,"rows":null}],"formValue":{"Lm":false,"Lmi":false,"La":false,"Mm":false,"Mmi":false,"Ma":false,"Mem":false,"Memi":false,"Mea":false,"Jm":false,"Jmi":false,"Ja":false,"Vm":false,"Vmi":false,"Va":false,"Sm":false,"Smi":false,"Sa":false,"Dm":false,"Dmi":false,"Da":false},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":300,"y":260,"wires":[[]]},{"id":"417cda37.c8bf24","type":"google calendar in","z":"ad35f952.a488f8","google":"ff8307ec.d9fb38","name":"","calendar":"","offsetType":"at","offsetFrom":"start","offset":"10","offsetUnits":"minutes","x":100,"y":740,"wires":[["931b9bef.5b2728"]]},{"id":"931b9bef.5b2728","type":"switch","z":"ad35f952.a488f8","name":"","property":"payload.title","propertyType":"msg","rules":[{"t":"eq","v":"medicament","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":270,"y":740,"wires":[["6348835a.fd64dc","f93d1a38.3e7b08","8692243a.494e88"]]},{"id":"6fb8177c.4ec748","type":"function","z":"ad35f952.a488f8","name":"Set count","func":"global.set('count', 0);\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":780,"wires":[["16d19bb7.2458a4"]]},{"id":"650e5933.f64978","type":"function","z":"ad35f952.a488f8","name":"Count + 1","func":"var temp = global.get(\"count\")\nglobal.set(\"count\", temp + 1)\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":160,"wires":[["1bb254c9.1ef81b"]]},{"id":"602f56d5.d20c58","type":"mqtt out","z":"ad35f952.a488f8","name":"","topic":"pilulier/device1/instruction/briller","qos":"","retain":"","broker":"68302430.f9690c","x":1000,"y":240,"wires":[]},{"id":"1a574a3f.d23756","type":"switch","z":"ad35f952.a488f8","name":"","property":"count","propertyType":"global","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"num"},{"t":"eq","v":"3","vt":"num"},{"t":"gt","v":"3","vt":"num"}],"checkall":"true","repair":false,"outputs":4,"x":450,"y":400,"wires":[["e935b880.45ab98"],["2b7912c4.ae297e","8150e6a0.798048"],["3c578d2d.e21fc2","1c0832c0.5d6a2d"],["1c0832c0.5d6a2d"]]},{"id":"5d962650.7e7908","type":"mqtt out","z":"ad35f952.a488f8","name":"","topic":"pilulier/device1/instruction/detected","qos":"","retain":"","broker":"68302430.f9690c","x":1210,"y":300,"wires":[]},{"id":"595b2a3d.db7044","type":"delay","z":"ad35f952.a488f8","name":"","pauseType":"delay","timeout":"30","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":970,"y":300,"wires":[["5d962650.7e7908"]]},{"id":"f383c9ee.aa0c08","type":"mqtt out","z":"ad35f952.a488f8","name":"","topic":"pilulier/device1/instruction/detected","qos":"","retain":"","broker":"68302430.f9690c","x":1070,"y":480,"wires":[]},{"id":"3c578d2d.e21fc2","type":"function","z":"ad35f952.a488f8","name":"Mail Oublis","func":"msg.payload= \"La personne à votre charge a oublié de prendre ses médicaments\"\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":500,"wires":[["7fe32760.ee2558"]]},{"id":"7fe32760.ee2558","type":"e-mail","z":"ad35f952.a488f8","server":"smtp.gmail.com","port":"465","secure":true,"tls":true,"name":"sp06800@gmail.com","dname":"","x":1060,"y":540,"wires":[]},{"id":"1c0832c0.5d6a2d","type":"delay","z":"ad35f952.a488f8","name":"","pauseType":"delay","timeout":"30","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":710,"y":560,"wires":[["569dd46b.9742ac"]]},{"id":"569dd46b.9742ac","type":"mqtt out","z":"ad35f952.a488f8","name":"","topic":"pilulier/device1/instruction/detected","qos":"","retain":"","broker":"68302430.f9690c","x":970,"y":600,"wires":[]},{"id":"2b7912c4.ae297e","type":"delay","z":"ad35f952.a488f8","name":"","pauseType":"delay","timeout":"30","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":770,"y":460,"wires":[["f383c9ee.aa0c08"]]},{"id":"cce72f62.3ac73","type":"inject","z":"dd3529c8.a20608","name":"distribution 22.5°","topic":"","payload":"{ \"name\": \"distribution\", \"degree\": 22.5}","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":280,"y":80,"wires":[["5d514d50.785c54"]]},{"id":"ba0e7abb.665b48","type":"inject","z":"dd3529c8.a20608","name":"briller open green not shut off","topic":"","payload":"{\"name\":\"briller\",\"option\":\"open\",\"color\":1}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":260,"y":380,"wires":[["db006ddc.04881"]]},{"id":"140962c6.ac0f1d","type":"inject","z":"dd3529c8.a20608","name":"environnement","topic":"","payload":"{ \"name\": \"environnement\"}","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":260,"y":200,"wires":[["b350b26a.5052d"]]},{"id":"66d2c592.44430c","type":"inject","z":"dd3529c8.a20608","name":"detected","topic":"","payload":"{ \"name\": \"detected\"}","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":260,"y":240,"wires":[["7dfd5b28.7ba8f4"]]},{"id":"6e420839.c4ea28","type":"inject","z":"dd3529c8.a20608","name":"briller open red not shut off","topic":"","payload":"{\"name\":\"briller\",\"option\":\"open\",\"color\":2}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":250,"y":420,"wires":[["db006ddc.04881"]]},{"id":"635baad8.336aa4","type":"inject","z":"dd3529c8.a20608","name":"briller open red 2s","topic":"","payload":"{\"name\":\"briller\",\"option\":\"opentime\",\"color\":2,\"time\":2}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":230,"y":460,"wires":[["db006ddc.04881"]]},{"id":"53fb7abe.71c204","type":"inject","z":"dd3529c8.a20608","name":"briller blue blink 10","topic":"","payload":"{\"name\":\"briller\",\"option\":\"blink\",\"color\":0,\"time\":10}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":230,"y":500,"wires":[["db006ddc.04881"]]},{"id":"a0e11120.e2d1","type":"comment","z":"dd3529c8.a20608","name":"LED MANAGEMENT : ","info":"3 options :\n-blink\n-always on\n-timed","x":240,"y":341,"wires":[]},{"id":"175439c9.8503a6","type":"comment","z":"dd3529c8.a20608","name":"Sensors","info":"","x":260,"y":160,"wires":[]},{"id":"21bb8b2c.fc34a4","type":"comment","z":"dd3529c8.a20608","name":"Motor","info":"","x":290,"y":40,"wires":[]},{"id":"db006ddc.04881","type":"mqtt out","z":"dd3529c8.a20608","name":"","topic":"pilulier/device1/instruction/briller","qos":"","retain":"","broker":"68302430.f9690c","x":710,"y":400,"wires":[]},{"id":"5d514d50.785c54","type":"mqtt out","z":"dd3529c8.a20608","name":"","topic":"pilulier/device1/instruction/distribution","qos":"","retain":"","broker":"68302430.f9690c","x":690,"y":80,"wires":[]},{"id":"b350b26a.5052d","type":"mqtt out","z":"dd3529c8.a20608","name":"","topic":"pilulier/device1/instruction/environnement","qos":"","retain":"","broker":"68302430.f9690c","x":740,"y":200,"wires":[]},{"id":"7dfd5b28.7ba8f4","type":"mqtt out","z":"dd3529c8.a20608","name":"","topic":"pilulier/device1/instruction/detected","qos":"","retain":"","broker":"68302430.f9690c","x":730,"y":280,"wires":[]},{"id":"8150e6a0.798048","type":"change","z":"ad35f952.a488f8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Les médicaments sont en attente de récupération.","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":340,"wires":[["e5b2c836.15d958","7e1f9705.e689f8"]]},{"id":"7e1f9705.e689f8","type":"play audio","z":"ad35f952.a488f8","name":"","voice":"0","x":1050,"y":360,"wires":[]},{"id":"e5b2c836.15d958","type":"delay","z":"ad35f952.a488f8","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":860,"y":380,"wires":[["7e1f9705.e689f8"]]},{"id":"f64b6edb.d6ac9","type":"e-mail","z":"dd3529c8.a20608","server":"smtp.gmail.com","port":"465","secure":true,"tls":true,"name":"alois.polytech@gmail.com","dname":"","x":990,"y":520,"wires":[]},{"id":"8e52f33b.c8653","type":"inject","z":"dd3529c8.a20608","name":"Mail","topic":"","payload":"Prenez vos médicaments","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":610,"y":520,"wires":[["f64b6edb.d6ac9"]]},{"id":"5fc9ec50.40d114","type":"comment","z":"dd3529c8.a20608","name":"Mail","info":"","x":590,"y":480,"wires":[]},{"id":"dfe2701d.122cf","type":"function","z":"dd3529c8.a20608","name":"briller","func":"msg.payload = {\"name\":\"briller\",\"option\":\"open\",\"color\":2}\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":660,"wires":[["4c6ea91e.3836c8"]]},{"id":"88d94412.5c5778","type":"function","z":"dd3529c8.a20608","name":"distribution","func":"msg.payload = \"distribution\"\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":700,"wires":[["b17e1e95.39c88"]]},{"id":"73d2844a.5f656c","type":"delay","z":"dd3529c8.a20608","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":390,"y":740,"wires":[["298e93c9.6f540c"]]},{"id":"b17e1e95.39c88","type":"mqtt out","z":"dd3529c8.a20608","name":"","topic":"pilulier/device1/instruction/distribution","qos":"","retain":"","broker":"68302430.f9690c","x":850,"y":700,"wires":[]},{"id":"4c6ea91e.3836c8","type":"mqtt out","z":"dd3529c8.a20608","name":"","topic":"pilulier/device1/instruction/briller","qos":"","retain":"","broker":"68302430.f9690c","x":750,"y":660,"wires":[]},{"id":"506c295b.a95468","type":"mqtt out","z":"dd3529c8.a20608","name":"","topic":"pilulier/device1/instruction/detected","qos":"","retain":"","broker":"68302430.f9690c","x":930,"y":740,"wires":[]},{"id":"9daead03.ba97f","type":"inject","z":"dd3529c8.a20608","name":"Google Calendar","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":700,"wires":[["dfe2701d.122cf","88d94412.5c5778","73d2844a.5f656c"]]},{"id":"298e93c9.6f540c","type":"function","z":"dd3529c8.a20608","name":"Set count","func":"global.set('count', 0);\nreturn msg;","outputs":1,"noerr":0,"x":580,"y":740,"wires":[["506c295b.a95468"]]},{"id":"d16110ca.b1872","type":"play audio","z":"dd3529c8.a20608","name":"","voice":"0","x":510,"y":900,"wires":[]},{"id":"c53cc87b.e131a8","type":"inject","z":"dd3529c8.a20608","name":"","topic":"","payload":"Pensez à récupérer vos médicaments","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":230,"y":880,"wires":[["d16110ca.b1872"]]},{"id":"847ea320.c2647","type":"inject","z":"dd3529c8.a20608","name":"POuet Pouet","topic":"","payload":"vroum vroum mmmmm ouuuuuu mmmmm ouuu criiiiiiiiiiiiii pouette pouette mmmmmmm vroum vroum","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":250,"y":940,"wires":[["d16110ca.b1872"]]},{"id":"bf9daffe.002a9","type":"json","z":"ad35f952.a488f8","name":"","property":"payload","action":"","pretty":false,"x":450,"y":40,"wires":[["e37b31b1.4cc63","ef381367.ce0eb","fe5ad4e4.9d6bc8"]]},{"id":"e37b31b1.4cc63","type":"switch","z":"ad35f952.a488f8","name":"","property":"payload.temp","propertyType":"msg","rules":[{"t":"gte","v":"25","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":610,"y":40,"wires":[["2f759647.3def7a"]]},{"id":"ef381367.ce0eb","type":"play audio","z":"ad35f952.a488f8","name":"","voice":"0","x":970,"y":40,"wires":[]},{"id":"2f759647.3def7a","type":"change","z":"ad35f952.a488f8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"La température est trop élevée","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":780,"y":40,"wires":[["ef381367.ce0eb"]]},{"id":"24cbb7b5.e1eaf8","type":"debug","z":"ad35f952.a488f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":930,"y":120,"wires":[]},{"id":"fe5ad4e4.9d6bc8","type":"debug","z":"ad35f952.a488f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":530,"y":100,"wires":[]},{"id":"2a99efb5.f8092","type":"change","z":"ad35f952.a488f8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"nothing detected","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":760,"y":120,"wires":[["24cbb7b5.e1eaf8"]]},{"id":"b290c85f.af5ba8","type":"change","z":"ad35f952.a488f8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"pills detected","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":160,"wires":[["866e37f9.87b3b8"]]}]
