node-red_ALOIS/flows.json
[
    {
        "id": "67a11a3.baa0de4",
        "type": "tab",
        "label": "Flow 1",
        "disabled": true,
        "info": ""
    },
    {
        "id": "5a4210f3.85802",
        "type": "tab",
        "label": "Alois - Orchestrateur",
        "disabled": false,
        "info": ""
    },
    {
        "id": "1c312ffc.4c896",
        "type": "tab",
        "label": "Démo",
        "disabled": false,
        "info": ""
    },
    {
        "id": "f3b8687c.35fba8",
        "type": "mqtt-broker",
        "z": "",
        "name": "",
        "broker": "192.168.43.156",
        "port": "1884",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "6cfa264.9ca48d8",
        "type": "ui_tab",
        "z": "",
        "name": "User console",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "c1f0b941.f05638",
        "type": "ui_group",
        "z": "",
        "name": "Interval température / humidité ",
        "tab": "6cfa264.9ca48d8",
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "38a26dc7.ad7a52",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "96c74514.306e18",
        "type": "google-credentials",
        "z": "",
        "displayName": ""
    },
    {
        "id": "938e8203.fbc72",
        "type": "mqtt in",
        "z": "5a4210f3.85802",
        "name": "",
        "topic": "pilulier/device1/info/environnement",
        "qos": "2",
        "datatype": "auto",
        "broker": "f3b8687c.35fba8",
        "x": 180,
        "y": 40,
        "wires": [
            [
                "e7ed6e0d.a0d49"
            ]
        ]
    },
    {
        "id": "3e98a95b.60c1f6",
        "type": "mqtt in",
        "z": "5a4210f3.85802",
        "name": "",
        "topic": "pilulier/device1/info/detect",
        "qos": "2",
        "datatype": "auto",
        "broker": "f3b8687c.35fba8",
        "x": 150,
        "y": 160,
        "wires": [
            [
                "eb2e51f0.3493f"
            ]
        ]
    },
    {
        "id": "67b3c8b3.7daef8",
        "type": "debug",
        "z": "5a4210f3.85802",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1110,
        "y": 120,
        "wires": []
    },
    {
        "id": "eccbcb16.c7a688",
        "type": "function",
        "z": "5a4210f3.85802",
        "name": "briller",
        "func": "msg.payload = {\"name\":\"briller\",\"option\":\"open\",\"color\":2}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 450,
        "y": 700,
        "wires": [
            [
                "e1a5563f.85dc68"
            ]
        ]
    },
    {
        "id": "2e9a0a9b.f41ff6",
        "type": "function",
        "z": "5a4210f3.85802",
        "name": "distribution",
        "func": "msg.payload = \"distribution\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 460,
        "y": 740,
        "wires": [
            [
                "62ff40c0.8920b"
            ]
        ]
    },
    {
        "id": "526b5f11.23428",
        "type": "delay",
        "z": "5a4210f3.85802",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 430,
        "y": 780,
        "wires": [
            [
                "df3db6cb.3dedf8"
            ]
        ]
    },
    {
        "id": "660d1f81.f5ee5",
        "type": "switch",
        "z": "5a4210f3.85802",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "False",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "True",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 490,
        "y": 160,
        "wires": [
            [
                "44083ce1.98c474"
            ],
            [
                "68f4c40.36dee3c"
            ]
        ]
    },
    {
        "id": "44083ce1.98c474",
        "type": "change",
        "z": "5a4210f3.85802",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "not detected",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 780,
        "y": 120,
        "wires": [
            [
                "67b3c8b3.7daef8"
            ]
        ]
    },
    {
        "id": "6750328b.42b1bc",
        "type": "change",
        "z": "5a4210f3.85802",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"name\":\"briller\",\"option\":\"open\",\"color\":2}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 700,
        "y": 260,
        "wires": [
            [
                "1e8ab952.6275a7",
                "8a732652.61e9e8"
            ]
        ]
    },
    {
        "id": "62ff40c0.8920b",
        "type": "mqtt out",
        "z": "5a4210f3.85802",
        "name": "",
        "topic": "pilulier/device1/instruction/distribution",
        "qos": "",
        "retain": "",
        "broker": "f3b8687c.35fba8",
        "x": 890,
        "y": 740,
        "wires": []
    },
    {
        "id": "e1a5563f.85dc68",
        "type": "mqtt out",
        "z": "5a4210f3.85802",
        "name": "",
        "topic": "pilulier/device1/instruction/briller",
        "qos": "",
        "retain": "",
        "broker": "f3b8687c.35fba8",
        "x": 790,
        "y": 700,
        "wires": []
    },
    {
        "id": "5d4b77bc.c4f5d8",
        "type": "mqtt out",
        "z": "5a4210f3.85802",
        "name": "",
        "topic": "pilulier/device1/instruction/detected",
        "qos": "",
        "retain": "",
        "broker": "f3b8687c.35fba8",
        "x": 970,
        "y": 780,
        "wires": []
    },
    {
        "id": "5728b537.149d4c",
        "type": "ui_dropdown",
        "z": "67a11a3.baa0de4",
        "name": "",
        "label": "",
        "tooltip": "",
        "place": "Select option",
        "group": "c1f0b941.f05638",
        "order": 0,
        "width": "0",
        "height": "0",
        "passthru": true,
        "options": [
            {
                "label": "5s",
                "value": 5,
                "type": "num"
            },
            {
                "label": "10s",
                "value": 10,
                "type": "num"
            },
            {
                "label": "1m",
                "value": 1,
                "type": "num"
            },
            {
                "label": "5m",
                "value": 5,
                "type": "num"
            }
        ],
        "payload": "",
        "topic": "",
        "x": 270,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "5074082a.a0d098",
        "type": "ui_form",
        "z": "67a11a3.baa0de4",
        "name": "",
        "label": "",
        "group": "c1f0b941.f05638",
        "order": 1,
        "width": "0",
        "height": "0",
        "options": [
            {
                "label": "Lundi Matin",
                "value": "Lm",
                "type": "switch",
                "required": false,
                "rows": null
            },
            {
                "label": "Lundi Midi",
                "value": "Lmi",
                "type": "switch",
                "required": false,
                "rows": null
            },
            {
                "label": "Lundi Après-Midi",
                "value": "La",
                "type": "switch",
                "required": false,
                "rows": null
            },
            {
                "label": "Mardi Matin",
                "value": "Mm",
                "type": "switch",
                "required": false,
                "rows": null
            },
            {
                "label": "Mardi Midi",
                "value": "Mmi",
                "type": "switch",
                "required": false,
                "rows": null
            },
            {
                "label": "Mardi Après Midi",
                "value": "Ma",
                "type": "switch",
                "required": false,
                "rows": null
            },
            {
                "label": "Mercredi Matin",
                "value": "Mem",
                "type": "switch",
                "required": false,
                "rows": null
            },
            {
                "label": "Mercredi Midi",
                "value": "Memi",
                "type": "switch",
                "required": false,
                "rows": null
            },
            {
                "label": "Mercredi Après Midi",
                "value": "Mea",
                "type": "switch",
                "required": false,
                "rows": null
            },
            {
                "label": "Jeudi Matin",
                "value": "Jm",
                "type": "switch",
                "required": false,
                "rows": null
            },
            {
                "label": "Jeudi Midi",
                "value": "Jmi",
                "type": "switch",
                "required": false,
                "rows": null
            },
            {
                "label": "Jeudi Après Midi",
                "value": "Ja",
                "type": "switch",
                "required": false,
                "rows": null
            },
            {
                "label": "Vendredi Matin",
                "value": "Vm",
                "type": "switch",
                "required": false,
                "rows": null
            },
            {
                "label": "Vendredi Midi",
                "value": "Vmi",
                "type": "switch",
                "required": false,
                "rows": null
            },
            {
                "label": "Vendredi Après Midi",
                "value": "Va",
                "type": "switch",
                "required": false,
                "rows": null
            },
            {
                "label": "Samedi Matin",
                "value": "Sm",
                "type": "switch",
                "required": false,
                "rows": null
            },
            {
                "label": "Samedi Midi",
                "value": "Smi",
                "type": "switch",
                "required": false,
                "rows": null
            },
            {
                "label": "Samedi Après Midi",
                "value": "Sa",
                "type": "switch",
                "required": false,
                "rows": null
            },
            {
                "label": "Dimanche Matin",
                "value": "Dm",
                "type": "switch",
                "required": false,
                "rows": null
            },
            {
                "label": "Dimanche Midi",
                "value": "Dmi",
                "type": "switch",
                "required": false,
                "rows": null
            },
            {
                "label": "Dimanche Après Midi",
                "value": "Da",
                "type": "switch",
                "required": false,
                "rows": null
            }
        ],
        "formValue": {
            "Lm": false,
            "Lmi": false,
            "La": false,
            "Mm": false,
            "Mmi": false,
            "Ma": false,
            "Mem": false,
            "Memi": false,
            "Mea": false,
            "Jm": false,
            "Jmi": false,
            "Ja": false,
            "Vm": false,
            "Vmi": false,
            "Va": false,
            "Sm": false,
            "Smi": false,
            "Sa": false,
            "Dm": false,
            "Dmi": false,
            "Da": false
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "",
        "x": 300,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "b1ffe409.475808",
        "type": "google calendar in",
        "z": "5a4210f3.85802",
        "google": "96c74514.306e18",
        "name": "",
        "calendar": "",
        "offsetType": "at",
        "offsetFrom": "start",
        "offset": "10",
        "offsetUnits": "minutes",
        "x": 100,
        "y": 740,
        "wires": [
            [
                "ba696ab7.f78868"
            ]
        ]
    },
    {
        "id": "ba696ab7.f78868",
        "type": "switch",
        "z": "5a4210f3.85802",
        "name": "",
        "property": "payload.title",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "medicament",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 270,
        "y": 740,
        "wires": [
            [
                "eccbcb16.c7a688",
                "2e9a0a9b.f41ff6",
                "526b5f11.23428"
            ]
        ]
    },
    {
        "id": "df3db6cb.3dedf8",
        "type": "function",
        "z": "5a4210f3.85802",
        "name": "Set count",
        "func": "global.set('count', 0);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 620,
        "y": 780,
        "wires": [
            [
                "5d4b77bc.c4f5d8"
            ]
        ]
    },
    {
        "id": "eb2e51f0.3493f",
        "type": "function",
        "z": "5a4210f3.85802",
        "name": "Count + 1",
        "func": "var temp = global.get(\"count\")\nglobal.set(\"count\", temp + 1)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 340,
        "y": 160,
        "wires": [
            [
                "660d1f81.f5ee5"
            ]
        ]
    },
    {
        "id": "1e8ab952.6275a7",
        "type": "mqtt out",
        "z": "5a4210f3.85802",
        "name": "",
        "topic": "pilulier/device1/instruction/briller",
        "qos": "",
        "retain": "",
        "broker": "f3b8687c.35fba8",
        "x": 1000,
        "y": 240,
        "wires": []
    },
    {
        "id": "68f4c40.36dee3c",
        "type": "switch",
        "z": "5a4210f3.85802",
        "name": "",
        "property": "count",
        "propertyType": "global",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "2",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "3",
                "vt": "num"
            },
            {
                "t": "gt",
                "v": "3",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 4,
        "x": 450,
        "y": 400,
        "wires": [
            [
                "6750328b.42b1bc"
            ],
            [
                "7fb31219.76d68c",
                "cfda3e8c.234cb"
            ],
            [
                "d206d62b.cd0448",
                "eecbe9d4.32c338"
            ],
            [
                "eecbe9d4.32c338"
            ]
        ]
    },
    {
        "id": "4fe2a4b3.cd66fc",
        "type": "mqtt out",
        "z": "5a4210f3.85802",
        "name": "",
        "topic": "pilulier/device1/instruction/detected",
        "qos": "",
        "retain": "",
        "broker": "f3b8687c.35fba8",
        "x": 1210,
        "y": 300,
        "wires": []
    },
    {
        "id": "8a732652.61e9e8",
        "type": "delay",
        "z": "5a4210f3.85802",
        "name": "",
        "pauseType": "delay",
        "timeout": "30",
        "timeoutUnits": "minutes",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 970,
        "y": 300,
        "wires": [
            [
                "4fe2a4b3.cd66fc"
            ]
        ]
    },
    {
        "id": "9390bf11.dd00e",
        "type": "mqtt out",
        "z": "5a4210f3.85802",
        "name": "",
        "topic": "pilulier/device1/instruction/detected",
        "qos": "",
        "retain": "",
        "broker": "f3b8687c.35fba8",
        "x": 1070,
        "y": 480,
        "wires": []
    },
    {
        "id": "d206d62b.cd0448",
        "type": "function",
        "z": "5a4210f3.85802",
        "name": "Mail Oublis",
        "func": "msg.payload= \"La personne à votre charge a oublié de prendre ses médicaments\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 770,
        "y": 500,
        "wires": [
            [
                "297117d.022f2e8"
            ]
        ]
    },
    {
        "id": "297117d.022f2e8",
        "type": "e-mail",
        "z": "5a4210f3.85802",
        "server": "smtp.gmail.com",
        "port": "465",
        "secure": true,
        "tls": true,
        "name": "sp06800@gmail.com",
        "dname": "",
        "x": 1060,
        "y": 540,
        "wires": []
    },
    {
        "id": "eecbe9d4.32c338",
        "type": "delay",
        "z": "5a4210f3.85802",
        "name": "",
        "pauseType": "delay",
        "timeout": "30",
        "timeoutUnits": "minutes",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 710,
        "y": 560,
        "wires": [
            [
                "5ae50cbd.0b0fd4"
            ]
        ]
    },
    {
        "id": "5ae50cbd.0b0fd4",
        "type": "mqtt out",
        "z": "5a4210f3.85802",
        "name": "",
        "topic": "pilulier/device1/instruction/detected",
        "qos": "",
        "retain": "",
        "broker": "f3b8687c.35fba8",
        "x": 970,
        "y": 600,
        "wires": []
    },
    {
        "id": "7fb31219.76d68c",
        "type": "delay",
        "z": "5a4210f3.85802",
        "name": "",
        "pauseType": "delay",
        "timeout": "30",
        "timeoutUnits": "minutes",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 770,
        "y": 460,
        "wires": [
            [
                "9390bf11.dd00e"
            ]
        ]
    },
    {
        "id": "b1081a37.4a5628",
        "type": "inject",
        "z": "1c312ffc.4c896",
        "name": "distribution 22.5°",
        "topic": "",
        "payload": "{ \"name\": \"distribution\", \"degree\": 22.5}",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 280,
        "y": 80,
        "wires": [
            [
                "273743a8.a2880c"
            ]
        ]
    },
    {
        "id": "c1c6858d.52e108",
        "type": "inject",
        "z": "1c312ffc.4c896",
        "name": "briller open green not shut off",
        "topic": "",
        "payload": "{\"name\":\"briller\",\"option\":\"open\",\"color\":1}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 260,
        "y": 380,
        "wires": [
            [
                "a357de8d.0ff47"
            ]
        ]
    },
    {
        "id": "3243b085.e7eb2",
        "type": "inject",
        "z": "1c312ffc.4c896",
        "name": "environnement",
        "topic": "",
        "payload": "{ \"name\": \"environnement\"}",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 260,
        "y": 200,
        "wires": [
            [
                "af008a57.11a9f8"
            ]
        ]
    },
    {
        "id": "ecd8ffb.82b8e",
        "type": "inject",
        "z": "1c312ffc.4c896",
        "name": "detected",
        "topic": "",
        "payload": "{ \"name\": \"detected\"}",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 260,
        "y": 240,
        "wires": [
            [
                "98ee2622.1a6998"
            ]
        ]
    },
    {
        "id": "1106ca5c.00cff6",
        "type": "inject",
        "z": "1c312ffc.4c896",
        "name": "briller open red not shut off",
        "topic": "",
        "payload": "{\"name\":\"briller\",\"option\":\"open\",\"color\":2}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 250,
        "y": 420,
        "wires": [
            [
                "a357de8d.0ff47"
            ]
        ]
    },
    {
        "id": "b8986b4e.eda9a8",
        "type": "inject",
        "z": "1c312ffc.4c896",
        "name": "briller open red 2s",
        "topic": "",
        "payload": "{\"name\":\"briller\",\"option\":\"opentime\",\"color\":2,\"time\":2}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 230,
        "y": 460,
        "wires": [
            [
                "a357de8d.0ff47"
            ]
        ]
    },
    {
        "id": "4d120fc9.cce26",
        "type": "inject",
        "z": "1c312ffc.4c896",
        "name": "briller blue blink 10",
        "topic": "",
        "payload": "{\"name\":\"briller\",\"option\":\"blink\",\"color\":0,\"time\":10}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 230,
        "y": 500,
        "wires": [
            [
                "a357de8d.0ff47"
            ]
        ]
    },
    {
        "id": "86fa10e7.59235",
        "type": "comment",
        "z": "1c312ffc.4c896",
        "name": "LED MANAGEMENT : ",
        "info": "3 options :\n-blink\n-always on\n-timed",
        "x": 240,
        "y": 341,
        "wires": []
    },
    {
        "id": "b28a32f3.1205e",
        "type": "comment",
        "z": "1c312ffc.4c896",
        "name": "Sensors",
        "info": "",
        "x": 260,
        "y": 160,
        "wires": []
    },
    {
        "id": "578438c8.907d48",
        "type": "comment",
        "z": "1c312ffc.4c896",
        "name": "Motor",
        "info": "",
        "x": 290,
        "y": 40,
        "wires": []
    },
    {
        "id": "a357de8d.0ff47",
        "type": "mqtt out",
        "z": "1c312ffc.4c896",
        "name": "",
        "topic": "pilulier/device1/instruction/briller",
        "qos": "",
        "retain": "",
        "broker": "f3b8687c.35fba8",
        "x": 710,
        "y": 400,
        "wires": []
    },
    {
        "id": "273743a8.a2880c",
        "type": "mqtt out",
        "z": "1c312ffc.4c896",
        "name": "",
        "topic": "pilulier/device1/instruction/distribution",
        "qos": "",
        "retain": "",
        "broker": "f3b8687c.35fba8",
        "x": 690,
        "y": 80,
        "wires": []
    },
    {
        "id": "af008a57.11a9f8",
        "type": "mqtt out",
        "z": "1c312ffc.4c896",
        "name": "",
        "topic": "pilulier/device1/instruction/environnement",
        "qos": "",
        "retain": "",
        "broker": "f3b8687c.35fba8",
        "x": 740,
        "y": 200,
        "wires": []
    },
    {
        "id": "98ee2622.1a6998",
        "type": "mqtt out",
        "z": "1c312ffc.4c896",
        "name": "",
        "topic": "pilulier/device1/instruction/detected",
        "qos": "",
        "retain": "",
        "broker": "f3b8687c.35fba8",
        "x": 730,
        "y": 280,
        "wires": []
    },
    {
        "id": "cfda3e8c.234cb",
        "type": "change",
        "z": "5a4210f3.85802",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Les médicaments sont en attente de récupération.",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 680,
        "y": 340,
        "wires": [
            [
                "ffef782b.04af78",
                "e2d95246.fca89"
            ]
        ]
    },
    {
        "id": "e2d95246.fca89",
        "type": "play audio",
        "z": "5a4210f3.85802",
        "name": "",
        "voice": "0",
        "x": 1050,
        "y": 360,
        "wires": []
    },
    {
        "id": "ffef782b.04af78",
        "type": "delay",
        "z": "5a4210f3.85802",
        "name": "",
        "pauseType": "delay",
        "timeout": "10",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 860,
        "y": 380,
        "wires": [
            [
                "e2d95246.fca89"
            ]
        ]
    },
    {
        "id": "68f5a172.05329",
        "type": "e-mail",
        "z": "1c312ffc.4c896",
        "server": "smtp.gmail.com",
        "port": "465",
        "secure": true,
        "tls": true,
        "name": "alois.polytech@gmail.com",
        "dname": "",
        "x": 990,
        "y": 520,
        "wires": []
    },
    {
        "id": "7c2b6801.3b6ea8",
        "type": "inject",
        "z": "1c312ffc.4c896",
        "name": "Mail",
        "topic": "",
        "payload": "Prenez vos médicaments",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 610,
        "y": 520,
        "wires": [
            [
                "68f5a172.05329"
            ]
        ]
    },
    {
        "id": "7ea8352f.9e986c",
        "type": "comment",
        "z": "1c312ffc.4c896",
        "name": "Mail",
        "info": "",
        "x": 590,
        "y": 480,
        "wires": []
    },
    {
        "id": "5517203e.700ad",
        "type": "function",
        "z": "1c312ffc.4c896",
        "name": "briller",
        "func": "msg.payload = {\"name\":\"briller\",\"option\":\"open\",\"color\":2}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 410,
        "y": 660,
        "wires": [
            [
                "122ecd12.3b1743"
            ]
        ]
    },
    {
        "id": "d785062b.909378",
        "type": "function",
        "z": "1c312ffc.4c896",
        "name": "distribution",
        "func": "msg.payload = \"distribution\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 420,
        "y": 700,
        "wires": [
            [
                "44c9f5ad.16acdc"
            ]
        ]
    },
    {
        "id": "45610190.a16cc",
        "type": "delay",
        "z": "1c312ffc.4c896",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 390,
        "y": 740,
        "wires": [
            [
                "181f6cc2.8403a3"
            ]
        ]
    },
    {
        "id": "44c9f5ad.16acdc",
        "type": "mqtt out",
        "z": "1c312ffc.4c896",
        "name": "",
        "topic": "pilulier/device1/instruction/distribution",
        "qos": "",
        "retain": "",
        "broker": "f3b8687c.35fba8",
        "x": 850,
        "y": 700,
        "wires": []
    },
    {
        "id": "122ecd12.3b1743",
        "type": "mqtt out",
        "z": "1c312ffc.4c896",
        "name": "",
        "topic": "pilulier/device1/instruction/briller",
        "qos": "",
        "retain": "",
        "broker": "f3b8687c.35fba8",
        "x": 750,
        "y": 660,
        "wires": []
    },
    {
        "id": "2d9fa5e5.92fbfa",
        "type": "mqtt out",
        "z": "1c312ffc.4c896",
        "name": "",
        "topic": "pilulier/device1/instruction/detected",
        "qos": "",
        "retain": "",
        "broker": "f3b8687c.35fba8",
        "x": 930,
        "y": 740,
        "wires": []
    },
    {
        "id": "554ee4d6.a9d8fc",
        "type": "inject",
        "z": "1c312ffc.4c896",
        "name": "Google Calendar",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 200,
        "y": 700,
        "wires": [
            [
                "5517203e.700ad",
                "d785062b.909378",
                "45610190.a16cc"
            ]
        ]
    },
    {
        "id": "181f6cc2.8403a3",
        "type": "function",
        "z": "1c312ffc.4c896",
        "name": "Set count",
        "func": "global.set('count', 0);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 580,
        "y": 740,
        "wires": [
            [
                "2d9fa5e5.92fbfa"
            ]
        ]
    },
    {
        "id": "5350ab54.068d44",
        "type": "play audio",
        "z": "1c312ffc.4c896",
        "name": "",
        "voice": "0",
        "x": 510,
        "y": 900,
        "wires": []
    },
    {
        "id": "12b34ab4.975b85",
        "type": "inject",
        "z": "1c312ffc.4c896",
        "name": "",
        "topic": "",
        "payload": "Pensez à récupérer vos médicaments",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 230,
        "y": 880,
        "wires": [
            [
                "5350ab54.068d44"
            ]
        ]
    },
    {
        "id": "1d1244ba.c5f90b",
        "type": "inject",
        "z": "1c312ffc.4c896",
        "name": "POuet Pouet",
        "topic": "",
        "payload": "vroum vroum mmmmm ouuuuuu mmmmm ouuu criiiiiiiiiiiiii pouette pouette mmmmmmm vroum vroum",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 250,
        "y": 940,
        "wires": [
            [
                "5350ab54.068d44"
            ]
        ]
    },
    {
        "id": "e7ed6e0d.a0d49",
        "type": "json",
        "z": "5a4210f3.85802",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 450,
        "y": 40,
        "wires": [
            [
                "1fd0b43d.4b57bc",
                "270402cf.38d3ae"
            ]
        ]
    },
    {
        "id": "1fd0b43d.4b57bc",
        "type": "switch",
        "z": "5a4210f3.85802",
        "name": "",
        "property": "payload.temp",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "25",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 610,
        "y": 40,
        "wires": [
            [
                "794fa254.86544c"
            ]
        ]
    },
    {
        "id": "270402cf.38d3ae",
        "type": "play audio",
        "z": "5a4210f3.85802",
        "name": "",
        "voice": "0",
        "x": 970,
        "y": 40,
        "wires": []
    },
    {
        "id": "794fa254.86544c",
        "type": "change",
        "z": "5a4210f3.85802",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "La température est trop élevée",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 780,
        "y": 40,
        "wires": [
            [
                "270402cf.38d3ae"
            ]
        ]
    }
]
