node-red_ALOIS/node-red.txt
[
    {
        "id": "5bfb3052.d0209",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": ""
    },
    {
        "id": "abf52f4b.df585",
        "type": "inject",
        "z": "5bfb3052.d0209",
        "name": "distribution 22.5°",
        "topic": "",
        "payload": "{ \"name\": \"distribution\", \"degree\": 22.5}",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 240,
        "y": 240,
        "wires": [
            [
                "b37694.b30c597"
            ]
        ]
    },
    {
        "id": "e1887bc5.5dbdb8",
        "type": "mqtt in",
        "z": "5bfb3052.d0209",
        "name": "",
        "topic": "pilulier/device1/info/environnement",
        "qos": "2",
        "datatype": "auto",
        "broker": "17e8623c.6817be",
        "x": 420,
        "y": 40,
        "wires": [
            [
                "743a5d2a.8e0764"
            ]
        ]
    },
    {
        "id": "b37694.b30c597",
        "type": "mqtt out",
        "z": "5bfb3052.d0209",
        "name": "",
        "topic": "pilulier/device1/instruction",
        "qos": "",
        "retain": "",
        "broker": "17e8623c.6817be",
        "x": 680,
        "y": 360,
        "wires": []
    },
    {
        "id": "743a5d2a.8e0764",
        "type": "debug",
        "z": "5bfb3052.d0209",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 670,
        "y": 40,
        "wires": []
    },
    {
        "id": "d75ddd47.d23b6",
        "type": "mqtt in",
        "z": "5bfb3052.d0209",
        "name": "",
        "topic": "pilulier/device1/info/detect",
        "qos": "2",
        "datatype": "auto",
        "broker": "17e8623c.6817be",
        "x": 390,
        "y": 120,
        "wires": [
            [
                "afd317a0.39cf48"
            ]
        ]
    },
    {
        "id": "d31d7ce1.223c9",
        "type": "debug",
        "z": "5bfb3052.d0209",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1010,
        "y": 100,
        "wires": []
    },
    {
        "id": "bc9dc171.fe27c",
        "type": "inject",
        "z": "5bfb3052.d0209",
        "name": "briller open green not shut off",
        "topic": "",
        "payload": "{\"name\":\"briller\",\"option\":\"open\",\"color\":1}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 220,
        "y": 540,
        "wires": [
            [
                "b37694.b30c597"
            ]
        ]
    },
    {
        "id": "66bf2213.1891ac",
        "type": "inject",
        "z": "5bfb3052.d0209",
        "name": "environnement",
        "topic": "",
        "payload": "{ \"name\": \"environnement\"}",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 220,
        "y": 360,
        "wires": [
            [
                "b37694.b30c597"
            ]
        ]
    },
    {
        "id": "fc2ffa4c.1eb848",
        "type": "inject",
        "z": "5bfb3052.d0209",
        "name": "detected",
        "topic": "",
        "payload": "{ \"name\": \"detected\"}",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 220,
        "y": 400,
        "wires": [
            [
                "b37694.b30c597"
            ]
        ]
    },
    {
        "id": "4ba2d6f5.8898d8",
        "type": "mosca in",
        "z": "5bfb3052.d0209",
        "mqtt_port": 1883,
        "mqtt_ws_port": 8080,
        "name": "",
        "username": "",
        "password": "",
        "dburl": "",
        "x": 140,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "c1d92b.ba6d86d8",
        "type": "function",
        "z": "5bfb3052.d0209",
        "name": "briller",
        "func": "msg.payload = \"briller\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 430,
        "y": 720,
        "wires": [
            [
                "ef025856.063018"
            ]
        ]
    },
    {
        "id": "4652b0ff.bae6f",
        "type": "function",
        "z": "5bfb3052.d0209",
        "name": "distribution",
        "func": "msg.payload = \"distribution\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 440,
        "y": 760,
        "wires": [
            [
                "ef025856.063018"
            ]
        ]
    },
    {
        "id": "b23f0fd5.0e84c",
        "type": "function",
        "z": "5bfb3052.d0209",
        "name": "detected",
        "func": "msg.payload = \"detected\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 570,
        "y": 800,
        "wires": [
            [
                "ef025856.063018"
            ]
        ]
    },
    {
        "id": "244d5f6e.d7a31",
        "type": "delay",
        "z": "5bfb3052.d0209",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 410,
        "y": 800,
        "wires": [
            [
                "b23f0fd5.0e84c"
            ]
        ]
    },
    {
        "id": "afd317a0.39cf48",
        "type": "switch",
        "z": "5bfb3052.d0209",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "True",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "False",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 610,
        "y": 120,
        "wires": [
            [
                "5d852da8.d8d6c4"
            ],
            [
                "aaea2fb4.100da"
            ]
        ]
    },
    {
        "id": "5d852da8.d8d6c4",
        "type": "change",
        "z": "5bfb3052.d0209",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "not detected",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 800,
        "y": 80,
        "wires": [
            [
                "d31d7ce1.223c9"
            ]
        ]
    },
    {
        "id": "aaea2fb4.100da",
        "type": "change",
        "z": "5bfb3052.d0209",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "detected",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 800,
        "y": 120,
        "wires": [
            [
                "d31d7ce1.223c9"
            ]
        ]
    },
    {
        "id": "e64cf716.8b95b8",
        "type": "inject",
        "z": "5bfb3052.d0209",
        "name": "briller open red not shut off",
        "topic": "",
        "payload": "{\"name\":\"briller\",\"option\":\"open\",\"color\":2}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 210,
        "y": 580,
        "wires": [
            [
                "b37694.b30c597"
            ]
        ]
    },
    {
        "id": "8ba86736.45c778",
        "type": "inject",
        "z": "5bfb3052.d0209",
        "name": "briller open red 2s",
        "topic": "",
        "payload": "{\"name\":\"briller\",\"option\":\"opentime\",\"color\":2,\"time\":2}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 190,
        "y": 620,
        "wires": [
            [
                "b37694.b30c597"
            ]
        ]
    },
    {
        "id": "62ae07cf.cacd78",
        "type": "inject",
        "z": "5bfb3052.d0209",
        "name": "briller blue blink 10",
        "topic": "",
        "payload": "{\"name\":\"briller\",\"option\":\"blink\",\"color\":0,\"time\":10}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 190,
        "y": 660,
        "wires": [
            [
                "b37694.b30c597"
            ]
        ]
    },
    {
        "id": "d122f645.ad7e18",
        "type": "comment",
        "z": "5bfb3052.d0209",
        "name": "LED MANAGEMENT : ",
        "info": "3 options :\n-blink\n-always on\n-timed",
        "x": 200,
        "y": 501,
        "wires": []
    },
    {
        "id": "8b7265d9.85c658",
        "type": "comment",
        "z": "5bfb3052.d0209",
        "name": "Sensors",
        "info": "",
        "x": 220,
        "y": 320,
        "wires": []
    },
    {
        "id": "ef95f171.00a67",
        "type": "comment",
        "z": "5bfb3052.d0209",
        "name": "Motor",
        "info": "",
        "x": 230,
        "y": 200,
        "wires": []
    },
    {
        "id": "ef025856.063018",
        "type": "mqtt out",
        "z": "5bfb3052.d0209",
        "name": "",
        "topic": "pilulier/device1/instruction",
        "qos": "",
        "retain": "",
        "broker": "17e8623c.6817be",
        "x": 900,
        "y": 740,
        "wires": []
    },
    {
        "id": "9dab7cfb.8c1ab",
        "type": "inject",
        "z": "5bfb3052.d0209",
        "name": "Google Calendar",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 220,
        "y": 760,
        "wires": [
            [
                "c1d92b.ba6d86d8",
                "4652b0ff.bae6f",
                "244d5f6e.d7a31"
            ]
        ]
    },
    {
        "id": "17e8623c.6817be",
        "type": "mqtt-broker",
        "z": "",
        "name": "Mosca",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    }
]