node-red_ALOIS/orchestrateur.json
[{"id":"ad35f952.a488f8","type":"tab","label":"Alois - Orchestrateur","disabled":false,"info":""},{"id":"32ff9f6e.1af6a","type":"mqtt in","z":"ad35f952.a488f8","name":"","topic":"pilulier/device1/info/environnement","qos":"2","datatype":"auto","broker":"68302430.f9690c","x":180,"y":40,"wires":[["bf9daffe.002a9"]]},{"id":"4816850b.8cdfec","type":"mqtt in","z":"ad35f952.a488f8","name":"","topic":"pilulier/device1/info/detect","qos":"2","datatype":"auto","broker":"68302430.f9690c","x":150,"y":160,"wires":[["650e5933.f64978"]]},{"id":"866e37f9.87b3b8","type":"debug","z":"ad35f952.a488f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":950,"y":200,"wires":[]},{"id":"6348835a.fd64dc","type":"function","z":"ad35f952.a488f8","name":"briller","func":"msg.payload = {\"name\":\"briller\",\"option\":\"open\",\"color\":1}\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":720,"wires":[["bcf52142.d177d"]]},{"id":"f93d1a38.3e7b08","type":"function","z":"ad35f952.a488f8","name":"distribution","func":"msg.payload = { \"name\": \"distribution\", \"degree\": 22.5}\nreturn msg;","outputs":1,"noerr":0,"x":700,"y":760,"wires":[["f487a15e.51713","53ffe7a7.fdfb48"]]},{"id":"8692243a.494e88","type":"delay","z":"ad35f952.a488f8","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":670,"y":800,"wires":[["6fb8177c.4ec748"]]},{"id":"1bb254c9.1ef81b","type":"switch","z":"ad35f952.a488f8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"True","vt":"str"},{"t":"eq","v":"False","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":470,"y":160,"wires":[["3dc47379.86f7dc"],["1a574a3f.d23756","b290c85f.af5ba8"]]},{"id":"e935b880.45ab98","type":"change","z":"ad35f952.a488f8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"name\":\"briller\",\"option\":\"open\",\"color\":2}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":700,"y":260,"wires":[["602f56d5.d20c58","595b2a3d.db7044"]]},{"id":"f487a15e.51713","type":"mqtt out","z":"ad35f952.a488f8","name":"","topic":"pilulier/device1/instruction/distribution","qos":"","retain":"","broker":"68302430.f9690c","x":1030,"y":760,"wires":[]},{"id":"bcf52142.d177d","type":"mqtt out","z":"ad35f952.a488f8","name":"","topic":"pilulier/device1/instruction/briller","qos":"","retain":"","broker":"68302430.f9690c","x":910,"y":720,"wires":[]},{"id":"16d19bb7.2458a4","type":"mqtt out","z":"ad35f952.a488f8","name":"","topic":"pilulier/device1/instruction/detected","qos":"","retain":"","broker":"68302430.f9690c","x":1060,"y":820,"wires":[]},{"id":"417cda37.c8bf24","type":"google calendar in","z":"ad35f952.a488f8","google":"","name":"","calendar":"","offsetType":"at","offsetFrom":"start","offset":"10","offsetUnits":"minutes","x":100,"y":740,"wires":[["931b9bef.5b2728"]]},{"id":"931b9bef.5b2728","type":"switch","z":"ad35f952.a488f8","name":"","property":"payload.title","propertyType":"msg","rules":[{"t":"eq","v":"Initialise","vt":"str"},{"t":"eq","v":"medicament","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":250,"y":740,"wires":[["7d408e3e.cb333"],["f3df9ae.baec768"]]},{"id":"6fb8177c.4ec748","type":"function","z":"ad35f952.a488f8","name":"Set count","func":"global.set('count', 0);\nreturn msg;","outputs":1,"noerr":0,"x":820,"y":820,"wires":[["16d19bb7.2458a4"]]},{"id":"650e5933.f64978","type":"function","z":"ad35f952.a488f8","name":"Count + 1","func":"var temp = global.get(\"count\")\nglobal.set(\"count\", temp + 1)\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":160,"wires":[["1bb254c9.1ef81b"]]},{"id":"602f56d5.d20c58","type":"mqtt out","z":"ad35f952.a488f8","name":"","topic":"pilulier/device1/instruction/briller","qos":"","retain":"","broker":"68302430.f9690c","x":1000,"y":240,"wires":[]},{"id":"1a574a3f.d23756","type":"switch","z":"ad35f952.a488f8","name":"","property":"count","propertyType":"global","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"num"},{"t":"eq","v":"3","vt":"num"},{"t":"gt","v":"3","vt":"num"}],"checkall":"true","repair":false,"outputs":4,"x":450,"y":400,"wires":[["e935b880.45ab98"],["2b7912c4.ae297e","8150e6a0.798048"],["3c578d2d.e21fc2","1c0832c0.5d6a2d"],["1c0832c0.5d6a2d"]]},{"id":"5d962650.7e7908","type":"mqtt out","z":"ad35f952.a488f8","name":"","topic":"pilulier/device1/instruction/detected","qos":"","retain":"","broker":"68302430.f9690c","x":1210,"y":300,"wires":[]},{"id":"595b2a3d.db7044","type":"delay","z":"ad35f952.a488f8","name":"","pauseType":"delay","timeout":"30","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":970,"y":300,"wires":[["5d962650.7e7908"]]},{"id":"f383c9ee.aa0c08","type":"mqtt out","z":"ad35f952.a488f8","name":"","topic":"pilulier/device1/instruction/detected","qos":"","retain":"","broker":"68302430.f9690c","x":1120,"y":420,"wires":[]},{"id":"3c578d2d.e21fc2","type":"function","z":"ad35f952.a488f8","name":"Mail Oublis","func":"msg.payload= \"La personne à votre charge a oublié de prendre ses médicaments\"\nreturn msg;","outputs":1,"noerr":0,"x":830,"y":540,"wires":[["7fe32760.ee2558"]]},{"id":"7fe32760.ee2558","type":"e-mail","z":"ad35f952.a488f8","server":"smtp.gmail.com","port":"465","secure":true,"tls":true,"name":"sp06800@gmail.com","dname":"","x":1060,"y":540,"wires":[]},{"id":"1c0832c0.5d6a2d","type":"delay","z":"ad35f952.a488f8","name":"","pauseType":"delay","timeout":"30","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":730,"y":600,"wires":[["569dd46b.9742ac"]]},{"id":"569dd46b.9742ac","type":"mqtt out","z":"ad35f952.a488f8","name":"","topic":"pilulier/device1/instruction/detected","qos":"","retain":"","broker":"68302430.f9690c","x":970,"y":600,"wires":[]},{"id":"2b7912c4.ae297e","type":"delay","z":"ad35f952.a488f8","name":"","pauseType":"delay","timeout":"30","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":870,"y":420,"wires":[["f383c9ee.aa0c08"]]},{"id":"8150e6a0.798048","type":"change","z":"ad35f952.a488f8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Les médicaments sont en attente de récupération.","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":340,"wires":[["e5b2c836.15d958","7e1f9705.e689f8"]]},{"id":"7e1f9705.e689f8","type":"play audio","z":"ad35f952.a488f8","name":"","voice":"0","x":1030,"y":360,"wires":[]},{"id":"e5b2c836.15d958","type":"delay","z":"ad35f952.a488f8","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":860,"y":380,"wires":[["7e1f9705.e689f8"]]},{"id":"bf9daffe.002a9","type":"json","z":"ad35f952.a488f8","name":"","property":"payload","action":"","pretty":false,"x":450,"y":40,"wires":[["e37b31b1.4cc63","fe5ad4e4.9d6bc8"]]},{"id":"e37b31b1.4cc63","type":"switch","z":"ad35f952.a488f8","name":"temperatue > 25","property":"payload.temp","propertyType":"msg","rules":[{"t":"gte","v":"25","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":620,"y":40,"wires":[["2bb365d2.6abc7a"]]},{"id":"ef381367.ce0eb","type":"play audio","z":"ad35f952.a488f8","name":"","voice":"0","x":1470,"y":40,"wires":[]},{"id":"2f759647.3def7a","type":"change","z":"ad35f952.a488f8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"La température est trop élevée","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1300,"y":40,"wires":[["ef381367.ce0eb"]]},{"id":"24cbb7b5.e1eaf8","type":"debug","z":"ad35f952.a488f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1290,"y":140,"wires":[]},{"id":"fe5ad4e4.9d6bc8","type":"debug","z":"ad35f952.a488f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":530,"y":100,"wires":[]},{"id":"2a99efb5.f8092","type":"change","z":"ad35f952.a488f8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"nothing detected","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1060,"y":140,"wires":[["24cbb7b5.e1eaf8"]]},{"id":"b290c85f.af5ba8","type":"change","z":"ad35f952.a488f8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"pills detected","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":780,"y":200,"wires":[["866e37f9.87b3b8"]]},{"id":"1020913b.d0e55f","type":"function","z":"ad35f952.a488f8","name":"Repeat off","func":"global.set('TempCount', 0);\nreturn msg;","outputs":1,"noerr":0,"x":1110,"y":20,"wires":[["2f759647.3def7a"]]},{"id":"5b1e00f4.a5ce1","type":"function","z":"ad35f952.a488f8","name":"Repeat on","func":"global.set('TempCount', 1);\nreturn msg;","outputs":1,"noerr":0,"x":1310,"y":80,"wires":[[]]},{"id":"481fa6c4.737448","type":"switch","z":"ad35f952.a488f8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":970,"y":40,"wires":[["1020913b.d0e55f"],["b38c5424.89a6e8"]]},{"id":"2bb365d2.6abc7a","type":"function","z":"ad35f952.a488f8","name":"get TempCount","func":"var cpt = global.get(\"TempCount\")\nreturn cpt;","outputs":1,"noerr":0,"x":820,"y":40,"wires":[["481fa6c4.737448"]]},{"id":"b38c5424.89a6e8","type":"delay","z":"ad35f952.a488f8","name":"Pause alarm","pauseType":"delay","timeout":"30","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1130,"y":80,"wires":[["5b1e00f4.a5ce1"]]},{"id":"f3df9ae.baec768","type":"function","z":"ad35f952.a488f8","name":"check distrib stop","func":"if((global.get(\"lockDistrib\") != 0) && (global.get(\"lockDistrib\") != 1)) {\n    global.set(\"lockDistrib\", 0)\n}\nmsg.payload = global.get(\"lockDistrib\")\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":820,"wires":[["51d9cedd.c01db"]]},{"id":"51d9cedd.c01db","type":"switch","z":"ad35f952.a488f8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":410,"y":820,"wires":[["7fdda04e.b1c14"],["3634a810.3a5248"]]},{"id":"3dc47379.86f7dc","type":"function","z":"ad35f952.a488f8","name":"Libère distribution","func":"global.set(\"lockDistrib\",0)\nreturn msg;","outputs":1,"noerr":0,"x":750,"y":140,"wires":[["2a99efb5.f8092","4eb85c0d.e51e84"]]},{"id":"7fdda04e.b1c14","type":"function","z":"ad35f952.a488f8","name":"Bloque distrib","func":"global.set(\"lockDistrib\",1)\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":760,"wires":[["f93d1a38.3e7b08","8692243a.494e88"]]},{"id":"3634a810.3a5248","type":"change","z":"ad35f952.a488f8","name":"message d'erreur","rules":[{"t":"set","p":"payload","pt":"msg","to":"Une distribution n'a pas pu étre effectuée car la précédente n'a pas été récupérée. Pour relancer le fonctionnement du pillulier, créez l'événement \"Initialise\" sur votre Google agenda. Une fois cet événement atteint, le pillulier fonctionnera à nouveau.","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":900,"wires":[["c132b30d.5216f"]]},{"id":"c132b30d.5216f","type":"e-mail","z":"ad35f952.a488f8","server":"smtp.gmail.com","port":"465","secure":true,"tls":true,"name":"sp06800@gmail.com","dname":"informe de l'erreur de distribution","x":840,"y":900,"wires":[]},{"id":"7d408e3e.cb333","type":"function","z":"ad35f952.a488f8","name":"Libère distribution","func":"global.set(\"lockDistrib\",0)\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":620,"wires":[[]]},{"id":"887137f8.4ca718","type":"inject","z":"ad35f952.a488f8","name":"calendar Mock distrib","topic":"","payload":"{\"title\" :  \"medicament\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":560,"wires":[["931b9bef.5b2728"]]},{"id":"53ffe7a7.fdfb48","type":"debug","z":"ad35f952.a488f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":510,"y":660,"wires":[]},{"id":"c1048a55.098648","type":"inject","z":"ad35f952.a488f8","name":"calendar Mock init","topic":"","payload":"{\"title\" :  \"Initialise\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":270,"y":500,"wires":[["7d408e3e.cb333"]]},{"id":"4eb85c0d.e51e84","type":"change","z":"ad35f952.a488f8","name":"led off","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"name\":\"briller\",\"option\":\"blink\",\"color\":0,\"time\":2}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":1170,"y":180,"wires":[["139b952a.d1f81b","a9c37830.456418"]]},{"id":"139b952a.d1f81b","type":"mqtt out","z":"ad35f952.a488f8","name":"","topic":"pilulier/device1/instruction/briller","qos":"","retain":"","broker":"68302430.f9690c","x":1450,"y":180,"wires":[]},{"id":"c78b4ea6.efd9e","type":"inject","z":"ad35f952.a488f8","name":"","topic":"","payload":"test","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1250,"y":240,"wires":[["4eb85c0d.e51e84"]]},{"id":"a9c37830.456418","type":"debug","z":"ad35f952.a488f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1530,"y":220,"wires":[]},{"id":"68302430.f9690c","type":"mqtt-broker","z":"","name":"","broker":"192.168.43.156","port":"1884","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]