node-red_ALOIS/project.xml
[{"id":"6add202e.72ac3","type":"tab","label":"ALOIS","disabled":false,"info":""},{"id":"cfe24cd7.8c40b","type":"google calendar in","z":"6add202e.72ac3","google":"","name":"Médicament","calendar":"","offsetType":"at","offsetFrom":"start","offset":"10","offsetUnits":"minutes","x":190,"y":240,"wires":[["f34266bd.e9e608"]]},{"id":"44b73f4b.a8df3","type":"debug","z":"6add202e.72ac3","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":630,"y":280,"wires":[]},{"id":"f34266bd.e9e608","type":"switch","z":"6add202e.72ac3","name":"Check médicament event","property":"payload.title","propertyType":"msg","rules":[{"t":"eq","v":"médicament","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":410,"y":240,"wires":[["6e1f89aa.688b18"]]},{"id":"6e1f89aa.688b18","type":"change","z":"6add202e.72ac3","name":"DO SOMETHING","rules":[{"t":"set","p":"payload","pt":"msg","to":"prendre médicament","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":280,"wires":[["44b73f4b.a8df3"]]}]